# .github/workflows/ci.yml
name: CI

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev] # Ensure dev dependencies are installed, which should include pytest
      - name: Run tests
        run: |
          pytest --cov=ode_filters --cov-report=term-missing
